body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
header {
  width: 100%;
}
header.header-home{
  display: grid;
  grid-template-areas: 
  "introduction"
  "nav-contact-menu"
  "learn-more"
  "join-today"
  ;
  grid-template-columns: 1fr;
}

.introduction {
  background-color: #c7ddea;
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-area: introduction;
}

.introduction h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 3.5rem;
  padding: 40px 20px 0 20px;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
  color: rgb(100, 100, 100);
  margin-top: 0;
  padding: 0 20px 0 20px;
}

.white-text {
  color: white;
}

button {
  background-color: white;
  width: 10rem;
  height: 3rem;
  box-shadow: 0 3px 2px -2px gray;
  border-radius: 25px;
  border: none;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Fira Sans", sans-serif;
  margin: 1rem auto 1rem 1rem;
  cursor: pointer;
}
.join-us-btn:hover {
  background-color: transparent;
}

img.family-img {
  height: 20rem;
  align-self: flex-end;
  margin-top: auto;
}

.learn-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10rem 0 10rem 0;
  background-color: #f17949;
  grid-area: learn-more;
}

.learn-more p {
  margin: 0;
  color: rgba(85, 49, 35, 0.76);
}

.learn-more h2 {
  margin: 0.3rem 0 0 0;
  font-size: 3rem;
}

.join-today {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10rem 0 10rem 0;
  background-color: #fab131;
  grid-area: join-today;
}

.join-today p {
  color: rgba(85, 49, 35, 0.76);
  margin: 0;
}

.join-today h2 {
  margin: 0.3rem 0 0 0;
  font-size: 3rem;
}

nav.contact-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
nav.contact-menu a {
  width: 50%;
  padding: 2rem 0;
  text-decoration: none;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.3rem;
  color: rgba(128, 128, 128, 0.801);
  font-weight: 700;
  transition: 0.1s ease;
}

nav.contact-menu a:hover {
  background-color: rgba(216, 213, 213, 0.801);
  color: #000;
}
.financial-safety {
  background-color: #a9a19e;
  padding: 1rem 0 5rem 0;
}
.financial-safety h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 3rem;
  margin-bottom: 1rem;
  padding: 0 20px 0 20px;
  color: white;
}
.financial-safety a {
  display: none;
}

.financial-safety p {
  color: rgb(66, 66, 66);
}

.member-card {
  width: 80%;
  margin: 0 auto 5rem auto;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50px;
}

figure {
  background-position: center;
  background-size: 40%;
  background-position-y: 10px;
  background-repeat: no-repeat;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  position: absolute;
  top: -50px;
}

figure.child-img {
  background-image: url(img/child.png);
  background-color: #c7ddea;
}
figure.adult-img {
  background-image: url(img/adult.png);
  background-color: #fab131;
}

figure.old-img {
  background-image: url(img/old.png);
  background-color: #f17949;
  background-size: 60%;
}
.member-card h3 {
  margin-bottom: 1rem;
}

.member-card-text {
  padding: 150px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-card-text h3 {
  font-size: 1.6rem;
}

.member-card-text p {
  padding: 0 30px 0 30px;
  color: rgb(161, 161, 161);
}

.about-us {
  background-color: #fab131;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 5rem 2rem;
}
article.about-us-text {
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-us h1 {
  font-size: 3rem;
  color: white;
  align-self: center;
}

.about-us p {
  color: rgba(66, 66, 66, 0.753);
}

.how-it-works {
  background-color: #c7ddea;
}

.how-it-works h1 {
  font-size: 4rem;
  font-weight: 700;
}
aside.how-it-works-steps {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  
}
aside.how-it-works-steps section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.how-it-works-steps section h2 {
  color: rgba(156, 156, 156, 0.767);
  font-size: 3.5rem;
  margin: 0.5rem;
  position: absolute;
  top: 10px;
  left: 10px;
}
.offers-article section h2 {
  font-size: 1.7rem;
  color: rgb(65, 63, 63);
  padding: 0 20px;
}
.step-2 {
  background-color: rgb(223, 222, 222);
}
.step-2 h2 {
  color: rgba(156, 156, 156, 0.767);
}
.step-3{
  padding: 0 3.5rem
}
.step-4 {
  background-color: #f17949;
}
.step-4 h2 {
  color: rgba(66, 64, 64, 0.671);
}
.step-4 h3 {
  color: rgb(65, 63, 63);
}
.floating-btn {
  width: 60px;
  height: 60px;
  padding: 0.8rem;
  font-size: 90px;
  background-color: #c7ddea;
  color: grey;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 4px 2px -2px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 73%;
  z-index: 999;
}

html {
  scroll-behavior: smooth;
}
.take-me-up-again {
  display: none;
}

footer.home-mobile {
  background-color: rgb(102, 100, 100);
  width: 100%;
  height: 50px;
  padding: 8rem 0 9rem 0;
}

/* -- Contact Page --*/

.introduction-contact-mobile {
  background-color: #c7ddea;
  background-image: url(img/man-baby.png);
  background-position-x: 70%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-self: center;
}

.introduction-contact-mobile h1 {
  font-size: 3rem;
  width: 300px;
  padding: 5rem 5rem 5rem 0;
}

main.main-contact {
  background-color: #a9a19e;
  width: 100%;
}

.main-contact h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

article.form-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.form-section label {
  display: block;
  padding: 0.4rem;
  font-family: "Fira Sans", sans-serif;
  color: rgb(230, 228, 228);
  font-weight: 700;
}

input {
  width: 100%;
  padding: 10px 0;
  border-radius: 3px;
  border: none;
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
}

textarea {
  border-radius: 3px;
  border: none;
}

::placeholder {
  color: black;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.send-message-btn {
  margin: 1.5rem 1rem 1.5rem 9rem;
}

aside.come-visit-us {
  padding: 1.5rem 1.5rem 6rem 1.5rem;
  transform: translate(0, 50%);
  background-color: #fab131;
  z-index: 9;
}

aside.come-visit-us h1 {
  padding-top: 1rem;
  color: white;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  font-size: 2.5rem;
  margin: 0.3rem 1rem;
}

aside.come-visit-us p {
  color: white;
  margin: 0;
}

footer.footer-map-container {
  width: 100%;
  padding: 2rem 0 5rem 0;
  background-color: gray;
  background-image: url(img/map.png);
  background-position: center;
  background-position-x: right;
  background-size: cover;
  transition: transform 2s;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-map-container:active {
  transform: scale(1.2);
}

.location-icon {
  color: rgb(255, 123, 0);
  font-size: 5rem;
  margin-top: 8rem;
  text-decoration: none;
}

/*  Offers mobile version */

article.offers-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introduction-offer-mobile {
  background-color: #c7ddea;
  background-image: url(img/child.png);
  background-position-x: -5%;
  background-position-y: 10%;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10rem;
  width: 100%;
}
.introduction-offer-mobile h1 {
  color: black;
  font-size: 3rem;
  margin-right: 7rem;
  padding-left: 1.3rem;
}

article section {
  padding: 0 2rem;
}
.offers-article section:nth-child(even) {
  background-color: #f17949;
}
.offers-article section:nth-child(odd) {
  background-color: white;
}

/* Why_us mobile version */

.introduction-why_us-mobile {
  background-color: #c7ddea;
  background-image: url(img/adult.png);
  background-position-x: 5%;
  background-position-y: 10%;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10rem;
  width: 100%;
}
.introduction-why_us-mobile h1 {
  color: black;
  font-size: 3rem;
  margin-right: 8rem;
  padding-right: 1rem;
}
article.overview {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}
.why_us-1 {
  background-color: #fab131;
}
.why_us-3 {
  background-color: #fab131;
}
.why_us-5 {
  background-color: #fab131;
}

.main-why_us h2 {
  font-size: 3rem;
  text-align: center;
  padding: 6rem;
}

.main-why_us h3 {
  margin: 1.5rem;
}

.overview aside {
  padding: 4rem;
}

@media screen and (min-width: 992px) {

  /*Home Desktop version*/

  body {
    background-color: rgba(216, 213, 213, 0.801);
  }

  .container {
    max-width: 1400px;
    margin: auto;
  }

  img.family-img{
    height: 25rem;
    padding-right: 2rem;
  }

  header.header-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .introduction {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .learn-more {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .join-today {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  } 
  nav.contact-menu{
    grid-column: 1 / 3;
    grid-row: 3 / 3;
  }

  .text-section {
    padding: 2rem 0 10rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .text-section p {
    width: 30%;
    margin: 0 0 3rem 0;
  }

  .text-section h1 {
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  .financial-safety {
    padding: 5rem 0 15rem 0;
    position: relative;
  }

  .financial-safety a {
    display: block;
  }

  .member-card-wrapper {
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    position: absolute;
  }

  .member-card,
  .member-card figure {
    margin: 0 1rem;
  }

  .about-us {
    width: 100%;
    padding: 0 0 5rem 0;
  }

  .about-us-text {
    width: 40%;
    padding: 10rem 0;
    margin-top: 10rem;
  }

  .about-us-text h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  aside.how-it-works-steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  aside.how-it-works-steps section {
    padding: 2rem;
  }

  aside section:nth-child(even) {
    background-color: white;
  }

  .floating-btn {
    display: none;
  }

  .take-me-up-again {
    display: block;
    background-color: #a9a19e;
    color: rgba(70, 68, 68, 0.884);
    font-size: 5rem;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex-direction: column;
  }

  .take-me-up-again p {
    color: rgba(70, 68, 68, 0.884);
    font-size: 1.5rem;
  }

  /*Home Desktop version*/

  .header-contact-desktop {
    display: grid;
    grid-template-rows: 1fr;
  }

  .introduction-contact-mobile {
    grid-column: span 2;
  }

  /* Contact Desktop Version  */

  .introduction-contact-mobile h1 {
    width: 100%;
    padding-left: 20rem;
  }

  nav.contact-menu {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    align-items: center;
    justify-content: center;
  }

  .main-contact {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
  }

  aside.come-visit-us {
    transform: translate(-220%, 110%);
    width: 300px;
    top: 40px;
    margin-left: 3rem;
    z-index: 3;
    position: relative; 
  }

  .location-icon {
    font-size: 6rem;
  }

  .footer-map-container a:hover {
    background-color: transparent;
    color: rgb(255, 123, 0);
  }

  /*  Our Offer */
  header.header.offer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .introduction-offer-mobile {
    grid-column: span 2;
    background-position-x: 70%;
  }

  .introduction-offer-mobile h1 {
    font-size: 4rem;
  }

  article.offers-article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 2rem;
  }

  .offers-article section {
    padding: 3rem;
  }
   /* Why us desktop version */

   .introduction-why_us-mobile h1 {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  article.overview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
  }
  .why_us-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .why_us-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .why_us-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: transparent;
  }
  .why_us-4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #fab131;
  }
}
